div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

div.news-detail h2
{
	font-size:16px;
}

div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

div.news-list h2
{
	font-size:16px;
}

div.news-list h4
{
	font-size:15px;
}
#banners a:hover img {
opacity:0.3; -moz-opacity:0.3;
filter:alpha(opacity=40);
}
#banners a img {
opacity:1.0; -moz-opacity:1.0;
filter:alpha(opacity=100);
} 

.pricelist .row .header div:first-child{
	width: 56%;
	text-align: left;
}

.expanded{
	background: url('//veramed-clinic.ru.opt-images.1c-bitrix-cdn.ru/upload/images/minus_red.png?1448386668215') no-repeat 0 !important;
}

.pricelist .row .header div:first-child a{
	color: #000;
	font-weight: bold;
	background: url('//veramed-clinic.ru.opt-images.1c-bitrix-cdn.ru/upload/images/plus_red.png?1448386668297') no-repeat 0;
	padding-left: 25px;
}

.pricelist .row .content div:first-child,
.pricelist .row .items div:first-child{
	width: 56%;
	text-align: left;
	color: #000;
	font-weight: normal;
}

.pricelist .row .header div{
	float: left;
	width: 13%;
	font-weight: bold;
	text-align: center;
}

.pricelist .row .content div:last-child,
.pricelist .row .items div:last-child{
	width: 5%;
	font-weight: normal;
	color: #000;
}

.pricelist .row .content{
	display: none;
}

.pricelist .row .content div,
.pricelist .row .items div{
	padding-top: 10px;
	float: left;
	width: 13%;
	text-align: center;
	color: #ac2428;
	font-weight: bold;
}

.call_phone_2{
	color: #ac2428;
}

.bottom{
	font-size: 10px;
}

div.spec-list
{
	word-wrap: break-word;
	padding: 0 10px;
}
div.spec-list .media-heading a:link,
div.spec-list .media-heading a:visited
{
	font-size: 18px !important;
	color: #000 !important;
}

div.spec-list .media-heading{
	margin-bottom: 10px;
}

div.spec-list .media-heading h4{
	margin: 10px 0 0 0 !important;
}

div.spec-list .media-object
{
	margin:5px 10px 0 0;
	border: 1px solid #16B3C2;

}
div.spec-list .media
{
	margin-bottom: 25px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}

div.spec-list .media img {
	border: none;
	margin: 0;
}

div.spec-list .overlay {
	display: none;
  position: absolute;
  background-color: rgba(61, 70, 96, 0.3);
}

div.spec-list .priem
{
	margin-top:20px;
}

div.spec-list .priem span
{
	font-family: robotobold;
	color: #ac2428;
}

div.spec-list .desc
{
	margin-top:50px;
}

div.c-cols .desc{
	margin-bottom: 15px;
}

div.spec-list .media .media-left .centr{
	margin-top: 5px;
}

div.spec-list .media .media-left .centr a
{
    font-size: 15px;
    color: red !important;
    margin-top: 5px;
}
div.spec-list .media-left{
	font-size:13px;
}

.hover-area{
	cursor: pointer;
}

.zapis{
	margin: 0px 0 20px !important;
}

div.content{
	margin: 0 10px;
}

div.priem{
	font-size: 20px;
    margin-bottom: 15px;
}