body .tac{
	text-align: center;
}
body .clear:after {
    content: "";
    display: table;
    clear: both;
}
body .fwt{
	font-weight: 300;
}
body .fwn{
	font-weight: normal;
}
body .fwb{
	font-weight: bold;
}
body .dib{
	display: inline-block;
}
body .db{
	display: block;
}
body .df{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
body .ttu{
	text-transform: uppercase;
}
body .no_bd{
	border: none;
}
body .bdbn{
	border-bottom: none;
}
body .bdtn{
	border-top: none;
}
body .bdln{
	border-left: none;
}
body .bdrn{
	border-right: none;
}
/*__nks{ float }*/
body .fl{
	float: left;
}
body .fr{
	float: right;
}
body .cll{
	clear: left;
}
body .clr{
	clear: right;
}
body .clb{
	clear: both;
}
body .cntr{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body .tac{
	text-align: center;
}
body .row{
	display: block;
	clear: both;
	position: relative;
}
body .row:after {
    content: "";
    display: table;
    clear: both;
}
/*__nks{ margin }*/
body .m0{
	margin: 0px;
}
body .m10{
	margin: 10px;
}
body .m20{
	margin: 20px;
}
body .m30{
	margin: 30px;
}
body .m40{
	margin: 40px;
}
body .m50{
	margin: 50px;
}
body .m60{
	margin: 60px;
}
body .m70{
	margin: 70px;
}
body .m80{
	margin: 80px;
}
body .m90{
	margin: 90px;
}
body .m100{
	margin: 100px;
}
body .mb0{
	margin-bottom: 0px;
}
body .mb10{
	margin-bottom: 10px;
}
body .mb20{
	margin-bottom: 20px;
}
body .mb30{
	margin-bottom: 30px;
}
body .mb40{
	margin-bottom: 40px;
}
body .mb50{
	margin-bottom: 50px;
}
body .mb60{
	margin-bottom: 60px;
}
body .mb70{
	margin-bottom: 70px;
}
body .mb80{
	margin-bottom: 80px;
}
body .mb90{
	margin-bottom: 90px;
}
body .mb100{
	margin-bottom: 100px;
}
body .mt0{
	margin-top: 0px;
}
body .mt10{
	margin-top: 10px;
}
body .mt20{
	margin-top: 20px;
}
body .mt30{
	margin-top: 30px;
}
body .mt40{
	margin-top: 40px;
}
body .mt50{
	margin-top: 50px;
}
body .mt60{
	margin-top: 60px;
}
body .mt70{
	margin-top: 70px;
}
body .mt80{
	margin-top: 80px;
}
body .mt90{
	margin-top: 90px;
}
body .mt100{
	margin-top: 100px;
}
body .ml0{
	margin-left: 0px;
}
body .ml10{
	margin-left: 10px;
}
body .ml20{
	margin-left: 20px;
}
body .ml30{
	margin-left: 30px;
}
body .ml40{
	margin-left: 40px;
}
body .ml50{
	margin-left: 50px;
}
body .ml60{
	margin-left: 60px;
}
body .ml70{
	margin-left: 70px;
}
body .ml80{
	margin-left: 80px;
}
body .ml90{
	margin-left: 90px;
}
body .ml100{
	margin-left: 100px;
}
body .mr0{
	margin-right: 0px;
}
body .mr10{
	margin-right: 10px;
}
body .mr20{
	margin-right: 20px;
}
body .mr30{
	margin-right: 30px;
}
body .mr40{
	margin-right: 40px;
}
body .mr50{
	margin-right: 50px;
}
body .mr60{
	margin-right: 60px;
}
body .mr70{
	margin-right: 70px;
}
body .mr80{
	margin-right: 80px;
}
body .mr90{
	margin-right: 90px;
}
body .mr100{
	margin-right: 100px;
}

/*__nks{ padding }*/
body .p0{
	padding: 0px;
}
body .p10{
	padding: 10px;
}
body .p20{
	padding: 20px;
}
body .p30{
	padding: 30px;
}
body .p40{
	padding: 40px;
}
body .p50{
	padding: 50px;
}
body .p60{
	padding: 60px;
}
body .p70{
	padding: 70px;
}
body .p80{
	padding: 80px;
}
body .p90{
	padding: 90px;
}
body .p100{
	padding: 100px;
}
body .pb0{
	padding-bottom: 0px;
}
body .pb10{
	padding-bottom: 10px;
}
body .pb20{
	padding-bottom: 20px;
}
body .pb30{
	padding-bottom: 30px;
}
body .pb40{
	padding-bottom: 40px;
}
body .pb50{
	padding-bottom: 50px;
}
body .pb60{
	padding-bottom: 60px;
}
body .pb70{
	padding-bottom: 70px;
}
body .pb80{
	padding-bottom: 80px;
}
body .pb90{
	padding-bottom: 90px;
}
body .pb100{
	padding-bottom: 100px;
}
body .pt0{
	padding-top: 0px;
}
body .pt10{
	padding-top: 10px;
}
body .pt20{
	padding-top: 20px;
}
body .pt30{
	padding-top: 30px;
}
body .pt40{
	padding-top: 40px;
}
body .pt50{
	padding-top: 50px;
}
body .pt60{
	padding-top: 60px;
}
body .pt70{
	padding-top: 70px;
}
body .pt80{
	padding-top: 80px;
}
body .pt90{
	padding-top: 90px;
}
body .pt100{
	padding-top: 100px;
}
body .pl0{
	padding-left: 0px;
}
body .pl10{
	padding-left: 10px;
}
body .pl20{
	padding-left: 20px;
}
body .pl30{
	padding-left: 30px;
}
body .pl40{
	padding-left: 40px;
}
body .pl50{
	padding-left: 50px;
}
body .pl60{
	padding-left: 60px;
}
body .pl70{
	padding-left: 70px;
}
body .pl80{
	padding-left: 80px;
}
body .pl90{
	padding-left: 90px;
}
body .pl100{
	padding-left: 100px;
}
body .pr0{
	padding-right: 0px;
}
body .pr10{
	padding-right: 10px;
}
body .pr20{
	padding-right: 20px;
}
body .pr30{
	padding-right: 30px;
}
body .pr40{
	padding-right: 40px;
}
body .pr50{
	padding-right: 50px;
}
body .pr60{
	padding-right: 60px;
}
body .pr70{
	padding-right: 70px;
}
body .pr80{
	padding-right: 80px;
}
body .pr90{
	padding-right: 90px;
}
body .pr100{
	padding-right: 100px;
}
body .col1{
	width: 10%;
}
body .col2{
	width: 20%;
}
body .col3{
	width: 30%;
}
body .col4{
	width: 40%;
}
body .col5{
	width: 50%;
}
body .col6{
	width: 60%;
}
body .col7{
	width: 70%;
}
body .col8{
	width: 80%;
}
body .col9{
	width: 90%;
}
body .col10{
	width: 100%;
}